# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
backend/venv/
venv/
.env

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/backend/cache
/backend/__pycache__
/backend/venv
/backend/logs
/backend/logs/*
/gemini-chat-clone/node_modules
/gemini-chat-clone/dist

/backend/digital_human_sdk/agents/__pycache__
backend/digital_human_sdk/agents/reasoning_agent/__pycache__
backend/digital_human_sdk/agents/router_agent/__pycache__
backend/digital_human_sdk/agents/tool_agent/__pycache__
backend/digital_human_sdk/agents/memory_agent/__pycache__
backend/digital_human_sdk/agents/response_agent/__pycache__
backend/digital_human_sdk/agents/tool_executor/__pycache__
backend/digital_human_sdk/agents/tool_request/__pycache__
backend/digital_human_sdk/agents/tool_response/__pycache__
backend/digital_human_sdk/agents/tool_response_handler/__pycache__
backend/digital_human_sdk/agents/graph/__pycache__

# python cache
__pycache__/
*.py[cod]

# python packaging metadata
*.egg-info/
